html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 85%;
  margin: auto;
  margin-bottom: 80px;
  
}

.content {
  width: 100%;
}

.badge {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge button {
  margin: auto;
  width: 100%;
}

.novo-todo {
  width: 100%;
  margin-top: 3rem;
}

mat-card {
  margin-top: .8rem;
  padding: .5rem;
}

p {
  text-align: end;
  font-weight: 600;
  color: rgb(114, 111, 111);
  margin-bottom: 0;
}

.actions {
  text-align: end;
  margin: .5rem;
}

.actions button {
  margin:   .5rem;
}
